extends _layouts/normal

block append content
  #layout-content.clearfix
    #top-pcl
      .ref-bg.domain-
      .ref-bg.domain-10
      .ref-bg.domain-20
      .ref-bg.domain-30
      .ref-bg.domain-40
      .ref-bg.domain-50
      .ref-bg.domain-60
      .ref-bg.domain-70
      .ref-bg.domain-80
      .ref-bg.domain-90
    .page-container
      .row
        //- fresh news
        .col-sm-12.col-md-10
          +storiesLargeView(stories.slice(0, 3), {itemClass: 'col-sm-4 col-xs-12', lazyImage: true})
          +storiesSimpleView(stories.slice(3), {listClass: 'row', itemClass: 'col-xs-12 col-sm-4'})
        //- right content
        .col-sm-12.col-md-2
          include ./controls/trending_topics
          //- .tab.clearfix
          //-   .tab-title
          //-     h4
          //-       a(href=links.sources({ul: currentCulture.lang}))= __('news_sources')
      h3= __('popular_news')
      .row
        //- pupular news
        .col-sm-12.col-md-10
          +storiesLargeView(popularStories, {itemClass: 'col-sm-4 col-xs-12', lazyImage: true})
          +quotesList(quotes, {listClass: 'row', itemClass: 'col-xs-12 col-sm-4', wrapAt: 120})
          .list-footer
            a.more(href=links.quotes({ul: currentCulture.lang}))= __('more_quotes')
        //- right content
        .col-md-2.hidden-xs.hidden-sm
          .tab
            include ./controls/ads_150
