extends _layouts/normal

block normal_content
  .content-header
    h1= __('latest_quotes')
    .details= subTitle

  - var pages = quotes.length/3
  - var i = 0
  while i < pages
    +quotesList(quotes.slice(i*3, i*3 + 3), {listClass: 'row', itemClass: 'col-xs-12 col-sm-4', wrapAt: 120})
    - i++
    if (i===3)
      .group.text-center
        include ./controls/ads_center

  .section-header
    h3.type-popular= __('latest_news')
  +storiesLargeView(latestNews, {itemClass: 'col-sm-4 col-xs-12', lazyImage: true})

