extends ./_layouts/news

block main_content
  .content-box
    .content-header
      h1= title
    ol.list.ot-sources.view-simple
      each item in sources
        li.item
          h4
            a(href=links.news.source(item.host, {ul: currentCulture.lang}))= item.title
          div
            a.accent(rel='nofollow', target='_blank', href=links.news.url({url:item.host}))= item.host
            |  ›

block append second_content
  .group
    .group-title
      h4= __('latest_news')
    .tab-content
      +storiesSimpleView(latestStories)
  .group.text-center
    include ./controls/ads_auto
