extends _layouts/news

block main_content
  .content-header.media
    .pull-left
      img.media-object(alt='', src='http://cdn.entipic.com/'+currentCulture.country+'/'+topic.uniqueName+'.jpg')
    .media-body
      h1= title
      .details= subtitle

  +storiesRowView(stories, 'col-xs-6 col-sm-4')
//- block append second_content

block more_content
  .container
    .row
      //- left content
      .col-md-2.hidden-sm.hidden-xs
        .grid-control
          .grid-header
            h4= __('ads')
          .grid-content

      //- center content
      .col-md-6.col-sm-8
        .grid-control
          .grid-header
            h2= __('latest_news')
          .grid-content
            +newsSimpleView(latestNews)
      //- right content
      .col-md-4.col-sm-4
        .grid-control.view-ads
          .grid-content
            // Ournet v2.0 300x250
            ins.adsbygoogle(style='display:inline-block;width:300px;height:250px', data-ad-client='ca-pub-3959589883092051', data-ad-slot='9372961467')
            script.
              (adsbygoogle = window.adsbygoogle || []).push({});

        .grid-control.view-ads
          .grid-content
            // Ournet v2.0 300x250
            ins.adsbygoogle(style='display:inline-block;width:300px;height:250px', data-ad-client='ca-pub-3959589883092051', data-ad-slot='9372961467')
            script.
              (adsbygoogle = window.adsbygoogle || []).push({});

