extends _layouts/normal

block normal_content
  br
  .container
    .row
      //- left content
      .col-md-2.hidden-sm.hidden-xs
        .grid-control
          .grid-header
            h4= __('ads')
          .grid-content
            include controls/ads_150

      //- center content
      .col-md-6.col-sm-8
        .grid-control
          .grid-header
            h2= topic.name
              |  - 
              = __('quotes')
          .grid-content
            +quotesList(quotes)
      //- right content
      .col-md-4.col-sm-4
        .grid-control.view-ads
          .grid-content
            include controls/ads_300

        .grid-control.view-ads
          .grid-content
            include controls/ads_300

