extends _layouts/news

block main_content
  .content-box
    .content-header.media
      .pull-left
        img.media-object(alt='', src=util.entipicImage(topic, currentCulture))
      .media-body
        h1
          a(href=links.topic(topic.slug, {ul: currentCulture.lang}))= topic.name
          |  /  
          = __('stories')
        .details= subtitle

    +storiesRowView(stories, {itemClass:'col-xs-4'})

block append second_content
  .group
    .group-title
      h4= __('latest_news')
    .group-content
      +storiesSimpleView(latestNews)
