extends ./normal

block normal_content
  #layout-content.clearfix
      .page-container
        .row
          //- main content
          .col-sm-8
            block main_content

          //- second content
          .col-sm-4
            block second_content
              .group.text-center
                include ../controls/ads_aside
