extends ./layout
include ../mixins/lists

block content
  if (categories)
    #layout-menu
      ul#main-menu
        each item in categories
          li
            a(href=links.category(item.name,{ul: currentCulture.lang}), class=('domain-'+item.id)+(category && category.id==item.id?' active':''))= item[currentCulture.lang]
  block normal_content
