if (config.dfp)
  - var slot = config.dfp.slots[config.dfp.location.aside1]

  div(id=slot.id)
    script.
      googletag.cmd.push(function() { googletag.display('#{slot.id}'); });
else
  // Ournet news aside
  ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3959589883092051', data-ad-slot='9412314238', data-ad-format='auto')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
